<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    <h2><a href="{% url 'c1' %}">Chart 1</a></h2>
    <h2><a href="{% url 'img' %}">Image</a></h2>
    <h2><a href="{% url 'map' %}">Map</a></h2>

    <h2><a href="{% url 'chart1' %}">Chart 1</a></h2><!--Highcharts 130쪽-->
    <h2><a href="{% url 'chart2' %}">Chart 2</a></h2><!--Highcharts 136쪽-->
    <h2><a href="{% url 'chart3' %}">Chart 3</a></h2><!--이미지 154쪽-->
    <h2><a href="{% url 'chart4' %}">Chart 4</a></h2><!--지도 168쪽-->
</body>
</html>